
* {
    box-sizing: border-box;
  }

  
  .wrapper {
    width: 90%;
    margin: 0 auto;
    
    max-width: 900px;

    outline: 1px solid;
  }

  .table-elements {
    display: inline-grid;
    grid-template-columns: repeat(17, auto) 1fr;

    justify-content: center;
    position: relative;

    

  }

  .table-elements-extra {
    display: grid;
    grid-template-columns: repeat(14, auto) 1fr;

    padding-top: 3vw;
    padding-left: 6vw;
  }

