
* {
    box-sizing: border-box;
  }

  h1 {
    font-size: 2vw;
    text-align: center;
  }
  
  .wrapper {
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
    
    max-width: 900px;

    /* outline: 1px solid; */

    
  }

  .table-elements {
    display: grid;
    grid-template-columns: repeat(17, auto) 1fr;
    
  }

  .table-elements-extra {
    display: grid;
    grid-template-columns: repeat(14, auto) 1fr;

    padding-top: 5%;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
  }

